/* IMAGINI FOLOSITOARE
COLOR PALETTE: https://colorhunt.co/palette/5f71616d8b74efead8d0c9c0
*/

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box; 
    background-color: #e4dccfd2; 
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
}
#navbar{
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0; left: 0;
    width: 100%;
    background-color: #cfc8bd;
    margin: 0 auto;
}

#navbar a{
    text-decoration: none;
    color: #6D8B74;
    font-size: 2rem;
    padding: 1.6rem;
}
#navbar a:hover{
    color: #536958;
}

#projects{
    width: 100%;
    height: 70vw;
    background-color: #E4DCCF; 
    border-radius: 60px;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    background-color: #6d8b74ab;
    
}

.projects-grid a{
    padding: 15px;
}

.project-img{
    height: calc(100% - 3rem);
    width: 95%;
    margin: 10px;
}
.project-tile{
    box-shadow: 3px 3px 4px #4d6352;
    border-radius: 10px;
    color: #5F7161;
    text-decoration: none;
    background-color: #e4dccfd2;
    margin: 20px;
}
.project-tile:hover{
    box-shadow: 1px 1px 2px #506052;
    border-radius: 20px;
    font-weight: bold;
    text-decoration:underline;
}
h3.project{
    color: #6d8b74ab;
    font-style: normal;
    padding: 15px;
}    
#welcome-section{
    width: 100%;
    height: 100vh;
}
.welcome-image{
    background-image: url("https://i.pinimg.com/564x/a1/c6/6e/a1c66e8a1e07171b29002855a07cf143.jpg");
    width: 100%;
    height: 100vh;
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     filter: blur(3px);
     -webkit-filter: blur(3px);
}
.bg-text{
    border: 2px solid #d0c9c0ac;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80%;
    padding: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
}
h1{
    font-size: 6rem;
    font-weight: bold;
    color: #EFEAD8;
}
h4, h3{
    font-size: 3rem;
    font-style: italic;
    color: #D0C9C0;
}

#contact{
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6d8b74c9;
    border-radius: 200px;
}
.c-text{
    position: absolute;
    left: 50%;
    width: 80%;
    height: 220px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
}
h3.contact{
    color: #EFEAD8;
    font-size: 4rem;
}
h4.contact{
    font-size: 2.5rem;
    font-style: normal;
    padding: 25px;
}
#contact-links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.578);
}

#contact-links a:hover{
    text-decoration: italic;
    color: rgba(0, 0, 0, 0.995);
}

@media (max-width: 760px){

    body {
        font-size: 1rem;
        line-height: 1;
    }

    #navbar a{
        font-size: 1.3rem;
        padding: 1.2rem;
    }

    .projects-grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 1fr));
        grid-gap: 1rem;
        max-width: 980px;
        margin-bottom: 2rem;
        margin-top: 1.5rem;
    }

    .project-tile{
        margin: 10px;
    }

    h1{
        font-size: 3.5rem;
    }
    h4, h3{
        font-size: 1.2rem;
    }
    #contact{
        height: 60vw;
        margin-top: 950px;
    }
    h3.project{
        font-size: 1.7rem;
        margin: 20px;
       padding: 15px;
    }

    h3.contact{
        margin-top: 135px;
        font-size: 2.5rem;
    }
    h4.contact{
        font-size: 1.5rem;
        padding: 5px;
    }

}